PUBGBYPASS/Update/UpdateInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpdateChecker">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="release">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="major" type="xs:unsignedByte" />
              <xs:element name="minor" type="xs:unsignedByte" />
              <xs:element name="revision" type="xs:unsignedByte" />
              <xs:element name="build" type="xs:unsignedByte" />
              <xs:element name="info" type="xs:string" />
              <xs:element name="infoUri" type="xs:string" />
              <xs:element name="downloadUri" />
              <xs:element name="date" type="xs:unsignedLong" />
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>